*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.bottom{
    margin-top:300px;
    width:100%;
}

.todo{
    height:70px;
    width:350px;
    border-radius:10px;
    background-color:rgb(248, 236, 218);
}

.checkbox{
    width:40px;
    display:flex;
    align-items: center;
    margin:1px;
    padding-left: 9px;
    font-size: 17px;
    align-items: center;
}

.todoText{
    width:380px;
    display:flex;
    font-size: 22px;
    align-items: center;
    margin-left: 1px;
    color:rgb(241, 10, 233);

}

.todoTextHide{
    width:380px;
    display:flex;
    font-size: 22px;
    align-items: center;
    margin-left: 1px;
    color:rgb(102, 99, 102);
    text-decoration-line: line-through;
}

.button{
    width:50px;
    font-size: 27px;
    display:flex;
    align-items: center;
}

